#practice{
	text-decoration: none;
	border: 2px solid #ff9933;
	padding: 10px 20px;
	color: black;
	font-size: 40px;
	border-radius: 10px;
}
#practice:hover{
	background-color: #ff9933;
	transition: 1s;
}

.social{
	text-decoration: none;
	border: 2px solid #ff9933;
	padding: 10px 20px;
	color: black;
	font-size: 40px;
	border-radius: 10px;
	margin: 10px 20px;
}

.social:hover{
	background-color: #ff9933;
	transition: 1s;
}

h1{
	color: #fff2e6;
	background-color: black;
	border: 7px outset coral;

}

.design{
	color: #ffff00;
	background-color: #3d3d5c;
	border: 7px outset #f3f3d8;
}

.article_element{
	border: 1px solid black;
	margin-top: 20px;
	margin-bottom: 20px;
}

.aside{
	border: 1px solid black;
	margin-top: 20px;
	margin-bottom: 20px;
}

#style{
	color: #ff9900;
	background-color: #142952;
	border-width: 7px;
	border-style: dotted dashed solid double;
	border-top-color: #ff4dff;
	border-bottom-color: #cc99ff;
	border-left-color: #1aff1a;
    border-right-color: #ff6666;
}

.content1{
	background-color: #00ff00;
	width: 250px;
	height: 150px;
	font-size: 92px;
}

.content2{
	background-color: #ff99ff;
	width: 250pt;
	height: 150pt;
	font-size: 102pt;
}

.content3{
	background-color: rgb(255, 80, 80);
	width: 26rem;
    height: 11rem;
    font-size: 4rem;
}

.content4{
	background-color: rgba(51, 204, 255, .15);
    width: 38%;
    font-size: 400%;
}

.bdi_element{
	border: 1px solid black;
	margin-top: 20px;
	margin-bottom: 20px;
}

.none{
	color: black;
	background-color: white;
	border: none;
}

.bdo_element{
	border: 1px solid black;
	margin-top: 20px;
	margin-bottom: 20px;
}

.br_tag{
	border: 1px solid black;
	margin-top: 20px;
	margin-bottom: 20px;
}

table{
	border-collapse: collapse;
	font-size: 50px;
}

table, td, th{
	border: 2px solid black;
}

.raw{
	background-color: #e6e6e6;
}

blockquote{
	border: 1px solid black;
}

#click_button{
	font-size: 30px;
	margin-top: 10px;
	padding: 10px 40px;
	border-radius: 25px;
	border: none;
}

#click_button:hover{
	background-color: #e6fff3;
	transition: 0.6s;
}

.data_element{
	border: 1px solid black;
	margin-top: 20px;
	margin-bottom: 20px;
}

.dl_dd_dt_element{
	border: 1px solid black;
	margin-top: 20px;
	margin-bottom: 20px;
}

.del_element{
	border: 1px solid black;
	margin-top: 20px;
	margin-bottom: 20px;
}

.dfn_element{
	border: 1px solid black;
	margin-top: 20px;
	margin-bottom: 20px;
}

.mv_agusta_bike{
	width: 50%;
	margin-top: -30px;
}

.fieldset{
	width: 500px;
}

#fname, #midname, #lname, #email, #phone{
	width: 300px;
}

#address{
	width: 300px;
	padding-bottom: 50px;
}

#submit{
	padding: 10px 20px;
	font-size: 20px;
	border-radius: 10px;
	background-color: #33cc33;
	color: white;
	border-color: #33cc33;
	opacity: 60%;
}

#submit:hover{
	opacity: 100%;
	transition: 1s;
}

#fname:hover{
	border-color: #ff9966;
}

#midname:hover{
	border-color: #ff9966;
}

#lname:hover{
	border-color: #ff9966;
}

#email:hover{
	border-color: #ff9966;
}

#phone:hover{
	border-color: #ff9966;
}

#birthday:hover{
	border-color: #ff9966;
}

#address:hover{
	border-color: #ff9966;
}

#kawasaki{
	width: 50%;
	margin-top: -30px;
}

.footer{
	border: 2px solid orange;
	width: 200px;
}

.form{
	border: 1px solid black;
	margin-top: 20px;
	width: 500px;
}

#text{
	margin-left: 20px; 
}

#uname, #password{
	margin-left: 20px; 
}

#uname, #password{
 	border: 1px solid black;
 	width: 450px;
 	height: 30px;
}

#uname:hover{
	border: 1px solid rgba(255, 153, 51, .3)
}

#password:hover{
	border: 1px solid rgba(255, 153, 51, .3);
}

#login{
	font-size: 20px;
	width: 455px;
	height: 30px;
	margin-left: 20px;
	margin-bottom: 20px;
	border: none;
	background-color: #ff9933;
	border-radius: 10px;
}

#login:hover{
	opacity: 90%;
	transition: .5s;
}

#checkbox{
	margin-left: 20px;
	margin-bottom: 20px;
}

.forgotpsw{
	margin-left: 227px;
}

iframe{
	width: 100%;
	margin-top: -30px;
	height: 500px;
}

.header{
	border: 1px solid black;
	margin-top: 30px;
}

.mtop{
	margin-top: -30px;
}

.ol_ul_element{
	border: 1px solid black;
}

ol{
	margin-top: -25px;
}
.main{
	border: 1px solid black;
	margin-top: 30px;
}

.map_element{
	margin-top: 50px;
	width: 30%;
}

.mark{
	border: 1px solid black;
}

.meter_element{
	border: 1px solid black;
	margin-top: 20px;
}

#hdd{
	width: 20%;
}

#ssd{
	width: 20%;
}

.nav_bar{
	border: 1px solid black;
	margin-top: 20px;
}

.object{
	border: 1px solid black;
	margin-top: 20px;
}

object{
	width: 50%;
}

.optgroup{
	border: 1px solid black;
	width: 400px;
	margin-top: 20px;
}

#bikes_cars{
	margin-bottom: 10px;
}

.pre_element{
	border: 1px solid black;
	margin-top: 20px;
}

.progress{
	border: 1px solid black;
	margin-top: 20px;
}

.pro{
	margin-bottom: 20px;
}

.q_element{
	border: 1px solid black;
	margin-top: 20px;
}

.s_element{
	border: 1px solid black;
	margin-top: 20px;
	margin-bottom: 20px;
}

.v_element{
	border: 1px solid black;
	margin-top: 20px;
	margin-bottom: 20px;
}

.text_area{
	border: 1px solid black;
	margin-top: 20px;
	margin-bottom: 20px;
}

#area_margin{
	padding: 10px 10px;
}

#submit_button{
	color: white;
	border: none;
	border-radius: 10px;
	background-color: #00cc00;
	padding: 10px 20px;
}

#submit_button:hover{
	opacity: 80%;
}

.sub_sup_element{
	border: 1px solid black;
	margin-top: 20px;
	margin-bottom: 20px;
}

.svg_element{
	border: 1px solid black;
	margin-top: 20px;
	margin-bottom: 20px;
}
